@use "../../styles/mixins" as m;
@use "../../styles/colors" as c;

.main {
  @include m.containerFlexivelColunmEvelyn();
  align-items: center;
  height: 100vh;

  h1 {
    @include m.estilizacaoFontsTituloAuxiliar();
    color: c.$color-blue;
  }

  section {
    width: 100%;
    @include m.containerFlexivelAround();

    article {
      flex: 1;
      @include m.containerFlexivelAround();
    }

    article:not(:last-child) {
      border-right: 1px solid #ccc;
    }
  }
}
