.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;

  h1 {
    font-family: "Source  Sans 3", sans-serif;
    color: #205691;
    font-size: 60px;
  }

  section {
      display: flex;
    width: 100%;
    justify-content: space-around;

    article {
        flex: 1;
        display: flex;
        justify-content: space-around;
    }

    article:not(:last-child){
        border-right: 1px  solid #ccc;
    }
  }
}
