$color-blue: #205691;
$color-blue-dark: #122F97;
$color-blue-light:#00aaff;
$color-white: #fff;
$color-white-secondary: #fafafa;
$color-black: #000;
$color-gray: #c8c5c5;
$color-red: #FD7267;
$color-red-hover: #f15c52;
$color-green: #278733;
$color-green-light:#d4e7d6;

