$font-helvetica: 'Helvetica';
$font-source: 'Source Sans 3';

$tamanho-paragrafo: 16px;
$tamanho-texto: 24px;
$tamanho-titulo: 90px;
$tamanho-subtitulo:60px;
$tamanho-botao:24px;
$tamanho-card:30px;


