@use "../styles/fonts" as f;

@mixin containerFlexivelBetween() {
  display: flex;
  justify-content: space-between;
}

@mixin containerFlexivelColunmBetween() {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@mixin containerFlexivelAround() {
  display: flex;
  justify-content: space-around;
}

@mixin containerFlexivelColunmEvelyn() {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@mixin containerFlexivelCentralizado() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin containerFlexivelColumnCentralizado() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin containerFlexivelRowCentralizadoVertical() {
  display: flex;
  align-items: center;
}

@mixin tamanhoForcaFonte($font, $size, $weight) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
}

@mixin estilizacaoFontsTituloPrincipal() {
  font-family: f.$font-source;
  font-size: 90px;
  font-weight: bold;
}

@mixin estilizacaoFontsTituloAuxiliar() {
  font-family: f.$font-source;
  font-size: 60px;
  font-weight: bold;
}

@mixin estilizacaoFontsTexto() {
  font-family: f.$font-inter;
  font-size: 24px;
  font-weight: 400;
}

@mixin estilizacaoFontsParagrafo() {
  font-family: f.$font-inter;
  font-size: 16px;
  font-weight: 400;
}

@mixin estilizacaoFontsBotao() {
  font-family: f.$font-source;
  font-size: 24px;
  font-weight: 600;
}

@mixin estilizacaoFontsCards() {
  font-family: f.$font-source;
  font-size: 30px;
  font-weight: bold;
}
