@use "../../styles/mixins" as m;
@use "../../styles/colors" as c;

.article {
  @include m.containerFlexivelColunmBetween();
  max-width: 357px;
  height: 55vh;  
  align-items: center;

  h2 {
    @include m.estilizacaoFontsCards();
    color: c.$color-blue;  
  }

  p {
    @include m.estilizacaoFontsParagrafo();
    text-align: center;   
    color: c.$color-blue-dark;
  }

  button {   
    width: 210px;
    height: 50px;
    border-radius: 10px;  
  }
}

.article img {
  max-width: 100%;
  min-width: 0;
}
