.article {
  max-width: 357px;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: 30px;
    color: #122f97;
    font-family: "Source  Sans 3", sans-serif;
    font-weight: bold;
  }

  p {
    font-size: 15px;
    font-family: "Inter", sans-serif;
    text-align: center;
    font-weight: 400;
    color: #122f97;
  }

  button {
    border: none;
    background-color: #205691;
    width: 210px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 22px;
    font-family: "Source  Sans 3", sans-serif;
    cursor: pointer;
  }
}

.article img {
  max-width: 100%;
  min-width: 0;
}
