@use '../../styles/mixins' as m;
@use '../../styles/colors' as  c;
@use '../../styles/fonts' as f;

.main {
  border: solid 2px red;
  display: flex;
  justify-content: space-between;

  img {
    max-width: 100%;
    min-width: 0;
    object-fit: cover;
    display: block;
  }
}

.info {
  border: solid 2px rgb(0, 4, 255);
  @include m.containerFlexivelColunmEvelyn();
  padding: 0 20px;
  
   h1 {
    @include m.estilizacaoFontsTituloPrincipal();
    color: c.$color-blue;   
  }
  div {
    @include m.estilizacaoFontsTexto();
    color: c.$color-blue;
  }

  button {
    width: 40%;
    height: 60px;
  }
}

.infoDados {
  @include m.containerFlexivelBetween() 
}

@media screen and (max-width:768px) {
  .main{
    flex-direction: column;
    align-items: center;
    height: auto;

    img {
      width: 100%;
      max-width: 522px;
    }

    .info {
      width: 100%;
      justify-content: space-between;
      align-items: center;

      h1{
        font-size: 80px;
      }

      h1,p {
        text-align: center;
      }
    }
    .infoDados {
      article {
        
      }
    }
  }
}

@media screen and (max-width:500px) {
  .main {
    height: 1000px;
  }

  .info h1{
    font-size: 40px;
  }

  .info p{
    font-size: 16px;
  }
}

@media screen and (max-width:360px) {
  .infoDados {
     flex-direction: column;
  }
}