@use '../../styles/mixins' as m;
@use '../../styles/colors' as  c;
@use '../../styles/fonts' as f;

.main {
  border: solid 2px red;
  display: flex;
  justify-content: space-between;
}

.info {
  border: solid 2px rgb(0, 4, 255);
  @include m.containerFlexivelColunmEvelyn();
  padding: 0 20px;
  
   h1 {
    @include m.estilizacaoFontsTituloPrincipal();
    color: c.$color-blue;   
  }
  div {
    @include m.estilizacaoFontsTexto();
    color: c.$color-blue;
  }

  button {
    width: 40%;
    height: 60px;
  }
}

.infoDados {
  @include m.containerFlexivelBetween() 
}