@use "../../styles/mixins" as m;
@use "../../styles/colors" as c;
@use "../../styles/fonts" as f;

.main {
  display: flex;
  justify-content: space-between;

  img {
    max-width: 100%;
    min-width: 0;
    object-fit: contain;
    display: block;
  }
}

.info {
  // border: solid 2px rgb(0, 4, 255);
  @include m.containerFlexivelColunmEvelyn();
  padding: 0 20px;

  h1,
  div {
    width: 45rem;
  }
  h1 {
    @include m.estilizacaoFontsTituloPrincipal();
    color: c.$color-blue;
  }
  div {
    @include m.estilizacaoFontsTexto();
    color: c.$color-blue;
  }

  button {
    width: 40%;
    height: 60px;
  }
}

.infoDados {
  @include m.containerFlexivelBetween();
}

@media screen and (max-width: 1200px) {
  .main {
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    .info {
      align-items: center;
      text-align: center;
      gap: 2rem;
    }

    .infoDados {
      gap: 5rem;

      article {
         p{
          font-weight: bold;
         }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    height: auto;

    img {
      width: 100%;
      max-width: 522px;
    }

    .info {
      width: 100%;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 80px;
      }

      h1,
      p {
        text-align: center;
      }
    }
    .infoDados {
      article {
        width: 120px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .main {
    height: 1000px;
  }

  .info h1 {
    font-size: 40px;
  }

  .info p {
    font-size: 16px;
  }
}

@media screen and (max-width: 360px) {
  .infoDados {
    flex-direction: column;
  }
}
