@use "../../styles/mixins" as m;
@use "../../styles/colors" as c;
@use "../../styles/fonts" as f;

.main {
  display: flex;
  justify-content: space-between; 

  img {
    max-width: 100%;
    min-width: 0;
    object-fit: contain;
    display: block;
  }
}

.info { 
  @include m.containerFlexivelColunmEvelyn();
  padding: 0 20px;

  h1,
  div {
    width: 45rem;
  }
  h1 {
    @include m.estilizacaoFontsTituloPrincipal();
    color: c.$color-blue; 
  }
  div {
    @include m.estilizacaoFontsTexto();
    color: c.$color-blue;
  
  }

  button {
    width: 40%;
    height: 60px;
  }
}

.infoDados {
  @include m.containerFlexivelBetween();
}

@media screen and (max-width: 1200px) {
  .main {
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    .info {
      align-items: center;
      text-align: center;
      gap: 2rem;
      width: 100%;
    }

    .infoDados {
      gap: 5rem;
      width: 100%;
      article {
        p {
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    height: auto;

    img {
      width: 100%;
      max-width: 500px;
      border-radius: 50%;
    }

    .info {
      width: 100%;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 65px;
      }

      h1,
      div {
        text-align: center;
        width: 100%;
      }

      button {
        width: 50%;
      }
    }
    .infoDados {
      gap: 0;
      article {
        width: auto;
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 543px) {
  .main {
       img {
      max-width: 300px;
    }
    .info h1 {
      font-size: 40px;
    }

    .info p {
      font-size: 16px;
    }

    .info button {
      width: 80%;
    }
  }
}

@media screen and (max-width: 360px) {
  .main {
    .infoDados {
      flex-direction: column;
      gap: 2rem;
    }
  }
}
