@use "../../styles/mixins" as m;
@use "../../styles/colors" as c;
.article {
  @include m.containerFlexivelColumnCentralizado();
  padding: 0 15px;  
  gap: 0.5rem;
  color: c.$color-blue;
  h3 {
    @include m.estilizacaoFontsTituloAuxiliar();
    font-size: 50px;
  }
  p {
    @include m.estilizacaoFontsParagrafo();
  }
}

@media  screen and (max-width:1200px) {
  .article {
    p {
      font-weight: bold;
    }
  }
}

@media screen and (max-width:768px) {
  .article {
    width: auto;
    padding: 0;

    h3 {
      font-size: 40px;
    }
  }
}
