@use "../../styles/mixins" as m;
@use "../../styles/colors" as c;
.article {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: c.$color-blue;
  h3 {
    @include m.estilizacaoFontsTituloAuxiliar();
    font-size: 50px;
  }
  p {
    @include m.estilizacaoFontsParagrafo();
  }
}
