@use '../../styles/mixins'  as m;
@use '../../styles/colors' as c;
.article {
  border: 1px solid green;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color:c.$color-blue;
  h3{
    @include m.estilizacaoFontsTituloAuxiliar();
    font-size: 50px;
  }
  p {
     @include m.estilizacaoFontsParagrafo();
  }
}
