@use "../../styles/colors" as c;
@use "../../styles/fonts" as f;
@use "../../styles/mixins" as m;

.header {
  height: 100px;
  background-color: c.$color-blue;
  color: c.$color-white;
  padding: 0 1.2rem;
  position: relative;
  @include m.containerFlexivelBetween();
  .imgLogo {
    width: 100%;
  }
  .nav {    
    @include m.tamanhoForcaFonte(f.$font-source, f.$tamanho-texto, 400);
    @include m.containerFlexivelBetween();
    width: 100%;
    max-width: 600px;
    a {
      color: c.$color-white;
      padding: 5px 20px;
    }
  }
  .imgUser {
    width: 50px;
    border-radius: 50%;
    border: 3px solid c.$color-blue-light;
    cursor: pointer;
  }
}
.navUser {
  position: absolute;
  right: 0;
  top: 5rem;
  background-color: c.$color-blue;
  a {
    display: block;
    padding: 5px 10px;
    color: white;
    text-align: end;
    @include m.tamanhoForcaFonte(f.$font-source, f.$tamanho-paragrafo, 400);
  }
}
.closedNav {
  display: none;
}

@media (max-width: 768px) {
  .imgLogo {
    max-width: 57px;
  }
}
