@use "../../styles/colors" as c;
@use "../../styles/fonts" as f;
@use "../../styles/mixins" as m;

.header {
  height: 100px; 
  background-color: c.$color-blue;
  color: c.$color-white;
  padding: 0 1.2rem;
  position: relative;
  @include m.containerFlexivelBetween();
  .imgLogo {
    width: 100%;
  }
  .nav {
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    max-width: 600px;  
    font-family: f.$font-source;   
    @include m.containerFlexivelBetween(); 
    a {
      color: c.$color-white;
      padding: 5px 20px;
    }
  }
  .imgUser {
    width: 50px;
    border-radius: 50%;
    border: 3px solid c.$color-blue-light;
    cursor: pointer;
  }
}
.navUser {
  position: absolute;
  right: 0;
  top: 12%;
  background-color:c.$color-blue ;
  a {
    display: block;
    padding: 5px 10px;
    color: white;
    text-align: end;    
  }
  
}
.closedNav {
    display: none;
  }
